<h2>Edit Your Account</h2>
<form action="/actor/<%= @user.slug %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">

  <input type="text" name="actor[name]" id="name" value="<%= @user.name %>" required>
  <br>
  <input type="text" name="actor[email]" id="email" value="<%= @user.email %>" required>
  <br>
  <textarea name="actor[bio]" id="bio" rows="4" cols="16" required><%= @user.bio %></textarea>
  <br>
  <input type="text" name="agent[name]" id="agent" value="<%= @user.agent.name %>">
  <br>
  <input type="text" name="headshot[name]" id="headshot" placeholder="Add new headshot">
  <br>
  <label for="auditions"><small><em>**select headshot(s) to remove from your profile**</em></small></label>
  <br>
  <br>
  <% @user.headshots.each do |headshot| %>
  <img src="/<%= headshot.path %>" width="170" height="170" alt=""><input type="checkbox" name="user_headshots[]" id="<%= headshot.name %>" value="<%= headshot.id %>"><br>
  <% end %>
  <br>
  <label for="auditions"><small><em>**change auditions on your profile by removing or adding checkmarks**</em></small></label>
  <br>
  <br>
  <% @auditions.each do |audition| %>
    <input type="checkbox" name="auditions[]" id="<%= audition.role %>" value="<%= audition.id %>" <%= 'checked' if @user.auditions.include?(audition) %>><%= audition.role %><br>
  <% end %>
  <br>
  <input type="submit" value="Edit Account">
</form>