<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %> 

<h1>Welcome, <%= @user.name %>!</h1>
<h2>Profile</h2>
<% @user.headshots.each do |headshot| %>
    <img src="/<%= headshot.path %>" height="170" width="170">
<% end %>
<ul>
<li>Email: <%= @user.email %></li>
<li>Agent: <%= @user.agent.name %></li>
<li>Bio: <%= @user.bio %></li>
<br>
<li>Current Auditions: </li>
<% @user.auditions.each do |audition| %>
    <ul>
    <li><%= audition.role %> (<%= audition.location %>)</li>
    </ul>
    <% end %>
</ul>
<br>
<a href="/auditions">View All Auditions</a>
<br>
<a href="/headshots">View All Actors</a>
<br>
<a href="/actor/<%= @user.slug %>/edit">Edit Profile</a>
<br>
<form action="/actor/<%= @user.slug %>/delete" method="POST">
<input type="hidden" name="_method" id="hidden" value="DELETE">
<input type="submit" value="Delete Profile" id="Delete Profile" name="Delete Profile">
</form>
<br>
<form action="/logout" method="POST">
<input type="submit" name="Log Out" id="logout" value="Log Out">
</form>

