<h1>Auditions</h1>
<p>See a role you want to audition for? Add them to your profile here.</p>
<form action="/auditions/<%= @user.slug %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<ul>
<% @auditions.each do |audition| %>
    <input type="checkbox" name="auditions[]" id="<%= audition.role %>" value= "<%= audition.id %>"<%='checked' if @user.auditions.include?(audition)%>><%= audition.role %> (<%= audition.location %>)<br>
<% end %>
</ul>
<input type="submit" value="Register for Audition(s)">
</form>